<footer class="footer">
  <small>
    <a href="http://jilinsights.net/">kaboozi</a>
    by JiL Insights
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path  %></li>
      <li><%= link_to "Contact", contact_path  %></li>
      <li><a href="http://jilinsights.net/">News</a></li>
    </ul>
  </nav>
</footer>

